*.orig
*.rej
.DS_Store
.gradle
.idea
.settings
adb.pid
bc-android.keystore
bin
build
certdata.txt
check_tools.mk
default.properties
doc
gen
liblinphone-junit-report.xml
liblinphone-sdk
liblinphonetester_*.zip
libs-debug
linphone-android.iml
linphone-junit-report*.xml
linphonetester_*.zip
lint.xml
local.properties
Makefile
obj
proguard-project.txt
project.properties
res/.DS_Store
tests/*$py.class
tests/build.xml
tests/project.properties
ant_password.properties
liblinphone_tester/liblinphonetester_*
liblinphone_tester/tests.output
tests/linphonetester_*
tests/tests.output
WORK
.d
